body {
  margin: unset;
  font-family: 'Manrope', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: #f9f3eb;
}

.header-section {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.5em 1.5em;
  background: #f9f3eb;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}
.header-section:hover {
  background: #a9bbce7d;
}
.header-section.selected {
  background: #39516b;
  color: #f9f3eb;
}
.header-section img {
  height: 60px;
  margin-right: 0.5em;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 3px solid #446a90;
  border-radius: 0.25em;
  background: #fff;
  box-shadow: 0 1px 3px 0px #27180038;
}
.logo-words {
  display: flex;
  flex-direction: column;
  width: 3.5em;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0.95;
  letter-spacing: 0.125em;
}
.logo-word-one {
  color: #446a90;
}
.logo-word-two {
  color: #cea65c;
  text-align: right;
}

.body {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 0;
  background: #f9f3eb;
}

.resp-container {
  width: 60%;
  margin: 1.5em auto;
  padding: 1.5em 2em;
  border-radius: .3em;
  background: #ffffff;
  box-shadow: 0 1px 3px 0px #271800b8;
}

.resp-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resp-row-child {
  flex: 1 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.resp-row-child:first-child {
  margin-left: 0;
  margin-right: 0.5em;
}
.resp-row-child:last-child {
  margin-left: 0.5em;
  margin-right: 0;
}
.resp-row-child.top {
  align-self: flex-start;
}

.button {
  padding: 0.25em 1em;
  margin-bottom: 1em;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  background: #446a90;
  color: #f9f3eb;
  border: none;
  border-radius: 0.25em;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  background: #446a90c7;
}
.button-success {
  background: #4c8859;
}
.button-success:hover {
  background: #4c8859c4;
}
.button.button-large {
  margin-bottom: unset;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

.info-box {
  margin: 2em;
  padding: 0.25em 0.5em;
  border: 1px dashed #d8bea0;
  border-radius: 0.5em;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5em;
  max-width: 1.5em;
  min-height: 1.5em;
  max-height: 1.5em;
  font-size: 1em;
  color: #446a90;
  background: #fff;
  border: 1px solid #446a90;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
.icon-button:hover {
  color: #fff;
  background: #39516b;
}
.icon-button.text-danger {
  background: #fff;
  color: #ce1818;
  border: 1px solid #ce1818;
}
.icon-button.text-danger:hover {
  color: #fff;
  background: #ce1818;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2em;
}
.input-group input, .input-group textarea {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border-radius: 0.35em;
  border: 0px solid #000;
  box-shadow: inset 0px 1px 3px #44290036;
}

.input-label {
  font-size: 0.9em;
  font-style: italic;
  color: #7b7b7b;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}
.checkbox-group .input-label {
  cursor: pointer;
}
.invalid {
  color: #F44336;
}

.survey-demo {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 2px solid #395169;
  border-radius: 1em;
}
.demo-message  {
  margin: 0.25em 0;
  padding: 1em;
  font-size: 0.9em;
  border-radius: 1em;
}
.demo-message:first-child {
  margin-top: 0;
  margin-bottom: 0.25em;
}
.demo-message:last-child {
  margin-top: 0.25em;
  margin-bottom: 0;
}
.incoming {
  align-self: flex-start;
  margin-right: 3em;
  background: #aad1f7;
}
.outgoing {
  align-self: flex-end;
  margin-left: 3em;
  background: #f7dcaa;
}

.explain .demo-message {
  overflow-wrap: anywhere;
}

.pseudo-site {
  background: #fffdfa;
  box-shadow: inset 0px 1px 2px #0000007a;
  border: 1px solid #fff;
}
.pseudo-container {
  margin: 1em;
  padding: 1em;
  background: #fff;
  box-shadow: 0 1px 3px 0px #271800b8;
}
.pseudo-title {
  width: 4em;
  height: 1em;
  margin: 0.25em;
  background: #000;
}
.pseudo-label {
  width: 2em;
  height: 1em;
  margin: 0.25em;
  background: #888;
}
.pseudo-input {
  width: 5em;
  height: 1em;
  border-radius: 0.25em;
  margin: 0.25em;
  background: #e8f0fe;
  box-shadow: inset 0px 1px 2px #44290036;
}

table {
  width: 100%;
  border-collapse: collapse
}
thead {
  text-align: left;
  background: #f9f3eb;
}
tr:nth-child(even) {
  background: #f9f3eb;
}
th, td {
  padding: 2px 8px;
}

.text-primary {
  color: #446a90;
}
.text-danger {
  color: #ce1818;
}
.selected .text-danger {
  color: #ff4a4a;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.modal-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  z-index: 101;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.price-container {
  text-align: center;
  background: #fff;
  color: #000;
  cursor: pointer;
  transition: background ease-in-out 0.3s, color ease-in-out 0.3s;
}
.price-container.selected {
  background: #446a90;
  color: #fff;
}
.price-title {
  font-size: 2em;
}

@media (max-width:767px) {
  .resp-container {
    margin: 5% auto;
    width: 90%;
    padding: 1em 0.5em;
  }
  .resp-row {
    flex-direction: column;
  }
  .resp-row-child {
    width: 100%;
  }
  .resp-row-child:first-child {
    margin: 0;
  }
  .resp-row-child:last-child {
    margin: 0;
  }
  .input-group input {
    width: auto;
  }
}
