body {
  margin: unset;
  font-family: 'Manrope', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: #fffdfa;
}

.header-section {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.5em 1.5em;
  background: #fffdfa;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}
.header-section:hover {
  background: #a9bbce7d;
}
.header-section.selected {
  background: #39516b;
  color: #fffdfa;
}

.home {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  background: #fffdfa;
}

.resp-container {
  width: 60%;
  margin: auto;
  padding: 3em 2em;
  border-radius: .3em;
  background: #ffffff;
  box-shadow: 0 1px 3px 0px #271800b8;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 2em;
  background: #fffdfa;
  border: 1px solid #39516b;
  border-radius: 50%;
  cursor: pointer;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
.icon-button:hover {
  color: #fff;
  background: #39516b;
}

@media (max-width:767px) {
  .resp-container {
    margin: 5% auto;
    width: 90%;
    padding: 1em 0.5em;
  }
}
