body {
  margin: unset;
  font-family: 'Manrope', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: #f9f3eb;
}

.header-section {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.5em 1.5em;
  background: #f9f3eb;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}
.header-section:hover {
  background: #a9bbce7d;
}
.header-section.selected {
  background: #39516b;
  color: #f9f3eb;
}

.home {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  background: #f9f3eb;
}

.resp-container {
  width: 60%;
  margin: 1.5em auto;
  padding: 1.5em 2em;
  border-radius: .3em;
  background: #ffffff;
  box-shadow: 0 1px 3px 0px #271800b8;
}

.resp-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resp-row-child {
  flex: 1 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.resp-row-child:first-child {
  margin-left: 0;
  margin-right: 0.5em;
}
.resp-row-child:last-child {
  margin-left: 0.5em;
  margin-right: 0;
}

.button {
  padding: 0.25em 1em;
  margin-bottom: 1em;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  background: #39516a;
  color: #f9f3eb;
  border: none;
  border-radius: 0.25em;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  background: #39516ac7;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 2em;
  background: #f9f3eb;
  border: 1px solid #39516b;
  border-radius: 50%;
  cursor: pointer;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}
.icon-button:hover {
  color: #fff;
  background: #39516b;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.input-group input, .input-group textarea {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border-radius: 0.35em;
  border: 0px solid #000;
  box-shadow: inset 0px 1px 3px #44290036;
}

.input-label {
  font-size: 0.9em;
  font-style: italic;
  color: #7b7b7b;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}
.checkbox-group .input-label {
  cursor: pointer;
}

.survey-demo {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 2px solid #395169;
  border-radius: 1em;
}
.demo-message  {
  margin: 0.25em 0;
  padding: 1em;
  font-size: 0.9em;
  border-radius: 1em;
}
.demo-message:first-child {
  margin-top: 0;
  margin-bottom: 0.25em;
}
.demo-message:last-child {
  margin-top: 0.25em;
  margin-bottom: 0;
}
.incoming {
  align-self: flex-start;
  margin-right: 3em;
  background: #aad1f7;
}
.outgoing {
  align-self: flex-end;
  margin-left: 3em;
  background: #f7dcaa;
}

.explain .demo-message {
  overflow-wrap: anywhere;
}

.pseudo-site {
  background: #fffdfa;
  box-shadow: inset 0px 1px 2px #0000007a;
  border: 1px solid #fff;
}
.pseudo-container {
  margin: 1em;
  padding: 1em;
  background: #fff;
  box-shadow: 0 1px 3px 0px #271800b8;
}
.pseudo-title {
  width: 4em;
  height: 1em;
  margin: 0.25em;
  background: #000;
}
.pseudo-label {
  width: 2em;
  height: 1em;
  margin: 0.25em;
  background: #888;
}
.pseudo-input {
  width: 5em;
  height: 1em;
  border-radius: 0.25em;
  margin: 0.25em;
  background: #e8f0fe;
  box-shadow: inset 0px 1px 2px #44290036;
}

@media (max-width:767px) {
  .resp-container {
    margin: 5% auto;
    width: 90%;
    padding: 1em 0.5em;
  }
  .resp-row {
    flex-direction: column;
  }
  .resp-row-child {
    width: 100%;
  }
  .resp-row-child:first-child {
    margin: 0;
  }
  .resp-row-child:last-child {
    margin: 0;
  }
  .input-group input {
    width: auto;
  }
}
