.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.input-label {
  font-size: 0.9em;
}

.input-group input {
  width: 300px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border-radius: 0.35em;
  border: 0px solid #000;
  box-shadow: inset 0px 1px 3px #44290036;
}

@media (max-width:767px) {
  .input-group input {
    width: auto;
  }
}
